html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

.main-container {
    background-color: rgb(188, 101, 101);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
}

.header {
    margin: 0;
    padding: 10px 0; 
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.drawing-area {
    width: 500px;       /* Total width of drawing area */
    height: 500px;      /* Total height */
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 5 columns */
    grid-template-rows: repeat(5, 1fr);     /* 5 rows */
    gap: 0;           /* No space between grid cells */
    background-color: transparent; /* Set to transparent */
    border: 2px solid #131212; /* Outer border */
}


.square {
    background-color: white; /* Square color */
    border: 1px solid #131212; /* Color for grid lines */
}

.header h1 {
    text-align: center;
    color: black;
    margin: 0; 
}

.Buttons {
    text-align: center;
    background-color: rgb(188, 101, 101);
}

.buts {
    display: inline-block; /* Keep buttons in a line */
}

.buts button {
    margin: 0 20px; /* Add horizontal spacing between buttons */
}

footer {
    background-color: rgb(188, 101, 101);
    padding: 50px;
    text-align: center;
    margin: 0; /* Ensure no extra margin */
}

/* From Uiverse.io by barisdogansutcu */ 
button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color:rgb(100, 39, 39);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(27, 18, 18);
}

button:active {
  letter-spacing: 3px;
  background-color: rgb(100, 39, 39);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(100, 39, 39);
  transform: translateY(10px);
  transition: 100ms;
}
a {
  color: rgb(139, 13, 13); /* Removes blue color */
  text-decoration: none; /* Removes underline */
 }